name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ROOT_VERSION: [root_v6.26.16.Linux-ubuntu22-x86_64-gcc11.4.tar.gz, root_v6.30.08.Linux-ubuntu22.04-x86_64-gcc11.4.tar.gz, root_v6.34.08.Linux-ubuntu22.04-x86_64-gcc11.4.tar.gz]

    steps:
    - uses: actions/checkout@v3

    - name: Install cmake, gtest and other packages
      run: |
        sudo apt-get install cmake libgtest-dev libglu1-mesa xxhash libglew-dev libgl2ps-dev libftgl-dev libopengl0 libtbb-dev nlohmann-json3-dev
        cd /usr/src/gtest
        sudo cmake CMakeLists.txt
        sudo make
        cd -

    - name: Install root
      run: |
        wget https://root.cern.ch/download/${{ matrix.ROOT_VERSION }}
        tar xzf ${{ matrix.ROOT_VERSION }}
        source root/bin/thisroot.sh
  
    - name: Install Eigen
      run: |
        wget https://gitlab.com/libeigen/eigen/-/archive/3.4.0/eigen-3.4.0.tar.gz -O /tmp/eigen.tar.gz
        mkdir eigen3-src && tar -xzf /tmp/eigen.tar.gz -C eigen3-src --strip 1
        cd eigen3-src && mkdir build && cd build && cmake .. && sudo make install && cd ../..
  
    - name: Build GenFit
      run: |
        source root/bin/thisroot.sh
        cd ${{github.workspace}}/.. && mkdir build && cd build
        cmake ../GenFit
        make
    
    - name: Run Tests
      run: |
        source root/bin/thisroot.sh
        cd ${{github.workspace}}/../build
        ctest  --output-on-failure
