name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ROOT_VERSION: [root_v6.24.06.Linux-ubuntu22-x86_64-gcc9.3.tar.gz, root_v6.30.02.Linux-ubuntu22.04-x86_64-gcc9.4.tar.gz]

    steps:
    - uses: actions/checkout@v3

    - name: Install cmake and gtest
      run: |
        sudo apt-get install cmake libgtest-dev libglu1-mesa xxhash libglew-dev libgl2ps-dev libftgl-dev
        sudo apt install libopengl0 -y
        cd /usr/src/gtest
        sudo cmake CMakeLists.txt
        sudo make
        cd -

    - name: Install root
      run: |
        wget https://root.cern.ch/download/${{ matrix.ROOT_VERSION }}
        tar xzf ${{ matrix.ROOT_VERSION }}
        source root/bin/thisroot.sh
       
    - name: Build GenFit
      run: |
        source root/bin/thisroot.sh
        cd ${{github.workspace}}/.. && mkdir build && cd build
        cmake ../GenFit
        make
    
    - name: Run Tests
      run: |
        source root/bin/thisroot.sh
        cd ${{github.workspace}}/../build
        ctest  --output-on-failure
